
body {
  
  background-color: #ffffff;
  margin: 0;
} 
  .login-page {
    position: relative;
    
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    text-align: left;
    /* font-size: 3.34rem; */
    color: var(--color-white);
    font-family: var(--font-poppins);
   
  }

.vertical-line {
  border-left: 1px solid goldenrod; /* Color of the vertical line */
  height: 100%; /* Adjust the height based on your layout */
  margin-left: 15px; /* Adjust the margin as needed for spacing */
  margin-right: 15px; /* Adjust the margin as needed for spacing */
}
  .input-wrapper {
    --padding: 16px;
    --focus-color: black;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: var(--padding);
    border: 2px solid gray;
    outline: none;
    width: 100%;
    height: 45px;
    border-radius: 6px;
  }
  .placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.2s ease-in;
  }
  
  input:is(:focus, :valid) {
    border: 2px solid var(--focus-color);
  }
  
  input:is(:focus, :valid) + .placeholder {
    transform: translatey(calc(-1 * var(--padding) - 3px));
    font-size: 14px;
    color: var(--focus-color);
  }


  .circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 0.3px solid #1c1c1c;
    background-color: none;
    position: absolute;
  }
  
  #lc1 {
    left: -120px;
    bottom: -80px;
  }
  
  #lc2 {
    left: -70px;
    bottom: -160px;
  }
  @media (max-width: 767px) {
    .circle {
      display: none;
    }
  }

/* right circles */
/* 
:root {
  --circle-size: 20%;
  --circle-padding: 20px;
  --circle-border: 0.3px solid #1c1c1c;
  --circle-position: absolute;
  --circle-right: 5%;
}

.responsive-circle {
  width: var(--circle-size);
  padding-bottom: var(--circle-size);
  border-radius: 50%;
  border: var(--circle-border);
  position: var(--circle-position);
  right: var(--circle-right);
}

.rcircle1 {
  background-color: black;
  bottom: 5%;
}

.rcircle2 {
  background-color: none;
  bottom: calc(5% + var(--circle-padding));
}

.rcircle3 {
  background-color: none;
  bottom: calc(5% + 2 * var(--circle-padding));
}

.rcircle4 {
  background-color: none;
  bottom: calc(5% + 3 * var(--circle-padding));
} */
